@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Weather Monitoring System</h1>
    <p class="lead">A Government of India Initiative to record and analyze the wind speed pattern in India.</p>
    <p><a href="http://google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
   
</div>